body{
  background-image: url(7b2a1c72919e7768f272f88ea557bafd.jpg);
  background-size: cover;

}
#box {
      width: 72px;
      height: 108px;
      position: fixed;
}
.ot{
   margin-left: 48%;
   margin-top: 9%;
}
button {
    background-color: #feda6a;
    color: black;
    margin-left: 47%;
    font-size: 100%;
    border: 0px;
}